.image {
  @include fill-parent;
  float: left;
  margin-bottom: $base-spacing;
}

.caption {
  font-size: 0.85em;
  text-align: left;
  padding: 0 $edge-spacing;
  float: left;
  margin-bottom: $base-spacing;

  @include media($large-screen) {
    padding: 0;
  }
}