.post-header, .post-content {
  @include media($large-screen) {
    @include span-columns(8);
    @include shift(2);
  }

  @include fill-parent;
  float: left;
}

article.post {
  @include outer-container;

  @include clearfix;
  font-family: $serif;
  text-align: left;
  
  h1, h2, h3, h4, p {
    @include fill-parent;
    float: left;
    margin: 0;

    @include media($large-screen) {
      padding: 0;
    }

    padding: 0 $edge-spacing;
  }

  hr {
    border-bottom: 1px solid $light-gray;
    border-left: none;
    border-right: none;
    border-top: none;
    margin: $base-spacing 0;
  }

  p {
    color: $base-font-color;
    line-height: $base-line-height;
  }

  a {
    color: $action-color;
    text-decoration: none;
  }

  .type {
    border-bottom: 1px solid;
    display: inline-block;
    font-family: $sans-serif;
    font-size: 0.7em;
    font-weight: 600;
    margin-bottom: 2em;
    padding: 0.1em 0;
    text-align: left;
    text-transform: uppercase;
  }

  blockquote {
    margin: 0 0 $base-spacing 0;
    float: left;

    p {
      font-size: 0.8em;
      border-left: 1px solid $dark-gray;
      padding-left: $small-spacing;
      margin-bottom: 0.33em;
      margin-left: $edge-spacing;

      @include media($large-screen) {
        margin-left: 0;
      }
    }

    footer {
      font-size: 0.8em;
      color: $medium-gray;
      font-style: italic;
      font-weight: 300;
      padding: 0 $edge-spacing;

      @include media($large-screen) {
        padding: 0;
      }

    }
  }

  h1 {
    font-family: $serif;
    font-size: 1.4em;
    font-weight: 400;
    margin-bottom: 0.6em;

    @include media($medium-screen) {
      font-size: 1.8em;
    }
  }

  h2 {
    font-family: $sans-serif;
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.5em;
    margin-bottom: 1.2em;

    @include media($medium-screen) {
      font-size: 1.3em;
    }
  }

  code {
    background: #F7F7F7;
    border-radius: $base-border-radius * 1.5;
    border: 1px solid #E0E0E0;
    font-size: 0.8em;
    font-style: normal;
    padding: 0.1em 0.4em;
    white-space: nowrap;
  }

  h3 {
   font-family: $serif;
   font-size: 1em;
   font-weight: 600;
   line-height: 1.4em;
   margin-bottom: 0.5em; 
   text-transform: uppercase;
  }

  p.date {
    color: transparentize($base-font-color, 0.6);
    font-family: $serif;
    font-size: 0.8em;
    margin-bottom: 0.5em;
  }

  p {
    font-family: $serif;
    font-weight: 300;
    letter-spacing: 1;
    margin-bottom: 1.5em;
  }

  a.read-more {
    display: inline-block;
    font-family: $serif;
    font-size: 0.8em;
    font-weight: 700;
    margin-left: 0.2em;
    position: relative;
    text-transform: uppercase;

    span {
      font-size: 1.8em;
      position: absolute;
      right: -12px;
      top: -2px;
    }
  }

  hr {
    width: 3em;
  }

  p.author {
    font-family: $serif; 
  }

  ul {
    @extend %default-ul;
    @include media($large-screen) {
      margin-left: 0;
      margin-right: 0;
    }

    margin-left: $edge-spacing;
    margin-right: $edge-spacing;
    margin-bottom: $base-spacing;
    font-size: $base-font-size * 0.8;
    font-weight: 300;
    float: left;
  }

  ol { 
    @extend %default-ol;
    @include media($large-screen) {
      margin-left: 0;
      margin-right: 0;
    }

    margin-left: $edge-spacing;
    margin-right: $edge-spacing;
    margin-bottom: $base-spacing;
    font-size: $base-font-size * 0.85;
    font-weight: 300;
    float: left;
  }
}

$nation-blue: #0072bc;
$tsn-red: #b02334;
$ipp-green: #9fca3c;

.nation { color: $nation-blue; }
.tsn { color: $tsn-red; }
.ipp { color: $ipp-green; }

.sw { opacity: 0.8; }

.with-header {
  td {
    &:first-child { font-weight: 600; }
  }
}

.headline-container {
  @include fill-parent;
  float: left;

  @include media($large-screen) {
    margin-left: 0;
  }

  margin-left: $edge-spacing;

  .pub-name { font-weight: 600; }

  .headlines {
    @include media($medium-screen) {
      @include span-columns(4 of 8);
    }

    @include fill-parent;
    float: left;
  }
}

#chart-wrapper {
  @include fill-parent;
  float: left;
  @include media($large-screen) {
    margin-left: 0;
  }

  margin-left: $edge-spacing;
}

.chart {
  height: 300px;
}

.select-wrapper {
  display: none;
  @include fill-parent;
  float: left;

  .label { 
    display: inline-block;
    margin-right: 0.25em;

    @include media($large-screen) {
      margin-left: 0;
    }

    margin-left: $edge-spacing;
  }

  select {
    display: inline-block;
    margin-right: 0.25em;
    margin-bottom: $small-spacing;
  }
}

.summary-table {
  @include media($medium-screen) {
    width: 100%;

    th {
      &:first-child { width: 20%; }
    }
  }

  td { 
    &:first-child {
      text-align: right;
      border-right: 1px solid $medium-gray;
      padding-right: $small-spacing;
    }
  }
}

.publisher-table {
  font-size: 0.85em;
  @include media($large-screen) {
    margin: 0;
  }

  margin: 0 $edge-spacing;
}

.scrollable-table-wrapper {
  overflow-x: scroll;
  @include fill-parent;
  float: left;
  th, td {
    &:first-child { min-width: 12em; }
    min-width: 8em;
  }
}